[submodule "msaClientCalculator/masCommon"]
	path = msaClientCalculator/masCommon
	url = https://ehlersd@github.com/DoubleNode/msaCommon.git
[submodule "msaClientCalculator/masCalculator"]
	path = msaClientCalculator/masCalculator
	url = https://ehlersd@github.com/DoubleNode/msaCalculator.git
